In [16]:
girls_names = ["Evelyn","Jessica","Somto","Edith","Liza","Madonna","Waje","Tola","Aisha","Latifa"]
girls_age = [17,16,17,18,16,18,17,20,19,17]
girls_height = [5.5,6.0,5.4,5.9,5.6,5.5,6.1,6.0,5.7,5.5]
girls_scores = [80,85,70,60,76,66,87,95,50,49]

boys_names = ["Chinedu", "Liam", "Wale", "Gbenga", "Abiola", "Kola", "Kunle", "George", "Thomas", "Wesley"]
boys_age = [19,16,18,17,20,19,16,18,17,19]
boys_height = [5.7,5.9,5.8,6.1,5.9,5.5,61,5.4,5.8,5.7]
boys_scores = [74,87,75,68,66,78,87,98,54,60]
print("Girls:")
print("Name \t| Age| Height| Score")
for name, age, height, score in zip(girls_names, girls_age, girls_height, girls_scores):
    print(f"{name}\t| {age} | {height} | {score}")

print("\nBoys:")
print("Name \t| Age|Height   |     Score")
for name, age, height, score in zip(boys_names, boys_age, boys_height, boys_scores):
    print(f"{name}\t| {age} | {height}\t|\t{score}")

Girls:
Name 	| Age| Height| Score
Evelyn	| 17 | 5.5 | 80
Jessica	| 16 | 6.0 | 85
Somto	| 17 | 5.4 | 70
Edith	| 18 | 5.9 | 60
Liza	| 16 | 5.6 | 76
Madonna	| 18 | 5.5 | 66
Waje	| 17 | 6.1 | 87
Tola	| 20 | 6.0 | 95
Aisha	| 19 | 5.7 | 50
Latifa	| 17 | 5.5 | 49

Boys:
Name 	| Age|Height   |     Score
Chinedu	| 19 | 5.7	|	74
Liam	| 16 | 5.9	|	87
Wale	| 18 | 5.8	|	75
Gbenga	| 17 | 6.1	|	68
Abiola	| 20 | 5.9	|	66
Kola	| 19 | 5.5	|	78
Kunle	| 16 | 61	|	87
George	| 18 | 5.4	|	98
Thomas	| 17 | 5.8	|	54
Wesley	| 19 | 5.7	|	60

In [3]:
#Project 2
no = int(input("How many people's ATP do you want to check?: "))
for i in range(no) :
    print("Welcome to Izifin Technology")
    name = input("Please enter your name: ")
    print("Welcome {}".format(name))
    exp = int(input("Please enter your number of years of experience: "))
    age = int(input("Please enter your age: "))

    if exp > 25 and age >= 55:
        print("{}, your ATR is N5,600,000".format(name))
    elif exp > 20 and age >= 45:
        print("{}, your ATR is N4,485,000".format(name))
    elif exp > 10 and age >= 35:
        print("{}, your ATP is N1,500,000".format(name))
    else:
        print("{}, your ATR is N555,000".format(name))

How many people's ATP do you want to check?:  erger

ValueError: invalid literal for int() with base 10: 'erger'